APP_NAME=Employee Management Backend
APP_ENV=development
APP_DEBUG=true
APP_HOST=0.0.0.0
APP_PORT=8000

POSTGRES_SERVER=db
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=project_management

DATABASE_URL=postgresql+psycopg2://postgres:postgres@db:5432/project_management
